<style>


    @-webkit-keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
        }
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
        }
    }

    .slider {
        background: pr;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 225px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;
    }

    .slider::before,
    .slider::after {
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        /* height: auto; */
        position: absolute;
        /* width: auto; */
        z-index: 2;
    }

    .slider::after {
        right: 0;
        top: 0;
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
    }

    .slider::before {
        left: 0;
        top: 0;
    }

    .slider .slide-track {
        -webkit-animation: scroll 40s linear infinite;
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slider .slide {
        height: 300px;
        width: 400px;
    }

    .highlight {
    padding-bottom: 16px;
  }

  .highlight-thumb {
    position: relative;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .highlight-thumb::after {
    content: "";
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .highlight-thumb:hover .highlight-title {
    opacity: 0;
    visibility: hidden;
  }

  .highlight-thumb:hover .highlight-icon {
    opacity: 1;
    visibility: visible;
    color: red;
  }

  .highlight-thumb:hover .highlight-image {
    transform: scale(1.2);
  }

  .highlight-info {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .highlight-image {
    display: block;
    width: 100%;
    height: 200px;
    transition: transform 2s;
  }

  .highlight-title {
    color: #ffffff;
    transition: opacity 1s;
    margin-bottom: 0;
    font-size: 25px;
  }

  .highlight-icon {
    color: red;
    font-size: 62px;
    opacity: 0;
    transition: transform 1s;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .highlight-icon:hover {
    color: #ffffff;
  }

  .video{
    height: 300px;
    width: 400px;
  }
</style>